:root {
  --main-background: #756ab6;
  --secondary-background: #ac87c5;
  --main-foreground: #e0aed0;
  --secondary-foreground: #ffe5e5;
  --main-foreground-darkened: #ba88aa;

  font-family: Roboto;
}

* {
  color: white;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
